


header {
  
  color: var(--font-primary);
  background-image: url("../images/hero-image.jpg");
  background-size: cover;
  background-position: center;
}

/* ================= Navbar ================= */
/* (Handled in separate CSS file: navbar-style.css) */


/* ================= Hero Section ================= */
.hero-sheet {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
}

.hero-section {
  width: 63%;
  padding: 2% 4% 8%;
}

.hero-sub2 {
  width: 70%;
  margin-top: 40px;
}

.hero-text {
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 12px;
}

.hero-heading {
  font-size: 3.125rem;
}

.hero-card-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-card {
  height: 208px;
  width: 28%;
  background-color: white;
  color: #023f76;
  border: 10px solid white;
  border-radius: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.hero-card:hover {
  transform: translateY(-5px) scale(1.02);
}

.hero-card img {
  width: 100%;
  height: 70%;
  border-radius: 10px 10px 5px 5px;
}

.hero-card-outertext {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.hero-card-outertext button {
  background: transparent;
  color: white;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.hero-card-outertext p {
  font-weight: 500;
}

.hero-card-innertext {
  padding: 5px;
}

.hero-card-innertext h3 {
  font-size: 90%;
}

.hero-card-innertext p {
  font-size: 80%;
  margin-top: 7px;
}

.fa-person {
  margin-right: 7px;
}

/*   search bar    */
.hero-sub3 {
  width: fit-content;
  margin-top: 32px;
}

.search-bar {
  background-color: white;
  padding: 8px 15px;
  border-radius: 50px;
  width: fit-content;
}

.search-items {
  font-size: 17px;
  margin-right: 50px;
  padding: 15px 0px;
  border: none;
}

.search-bar button {
  font-size: 17px;
  padding: 14px 20px;
  background-color: black;
  color: var(--font-primary);
  border-radius: 35px;
  transition: all 0.3s;
}

.search-bar button:hover {
  transform: scale(1.02);
}


/* ================= Main Section ================= */
.sec-1 {
  padding: 60px 0px;
  background-color: white;
}

.sec1-text {
  text-align: center;
  padding: 0px 6%;
}

.sec1-text h2 {
  font-size: 3.438rem;
}

.sec1-text p {
  font-size: 1.125rem;
  margin-top: 17px;
}

.sec1-card-parent {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 40px;
  padding: 50px 10%;
}

.sec1-card-item {
  height: 22.375rem;
  width: 20.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  cursor: pointer;
}

.sec1-card-item:hover {
  transform: translateY(-2px) scale(1.02);
}

.sec1-card-img {
  height: 70%;
  background-color: rgb(215, 214, 214);
  background-position: center;
  background-size: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.sec1-card-img img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.sec1-card-text {
  padding: 5% 7%;
}

.sec1-card-text h3 {
  font-size: 1.438rem;
  margin-bottom: 2%;
}


/* ================= Section 2: Why Choose Us ================= */
.sec-2 {
  background-image: url("../images/sec2-image.png");
  background-size: cover;
  background-position: center;
  padding: 50px 0px;
}

.sec2-1st {
  background-size: cover;
  background-position: center;
  height: 90%;
}

.sec2-2nd {
  height: 10%;
  color: white;
}

.sec2-text {
  text-align: center;
  padding: 0px 6%;
  color: white;
}

.sec2-text h2 {
  font-size: 2.7rem;
}

.sec2-text p {
  font-size: 1.1rem;
  margin-top: 13px;
  padding: 0px 24%;
}

.sec2-card-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 30px;
  padding: 0px 8%;
  gap: 28px;
}

.sec2-card {
  background-color: white;
  height: 21.5rem;
  width: 17rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 4px 25px;
}

.sec2-card:hover {
  transform: translateY(-5px) scale(1.02);
}

.sec2-avatar {
  height: 80px;
  width: 80px;
  background-color: black;
  border-radius: 10px;
  color: white;
  align-content: center;
  text-align: center;
}

.sec2-card h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.sec2-card p {
  font-size: 18px;
  color: #858585;
}

.sec2-card a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 600;
}

.sec2-card a > span {
  margin-left: 5px;
}


/* ================= Section 3: Our Tour Partners ================= */
.sec-3 {
  padding: 60px 0px;
}



.sec3-text h2{
  color: black;
}
.sec3-text p {
  color: #858585;
}

.sec3-brands {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5%;
  margin-bottom: 3%;
  flex-wrap: wrap;
  gap: 25px;
  padding: 0px 5%;
}

.brand-logo {
  height: 70px;
  width: 160px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.3s;
}

.brand-logo:hover {
  transform: translateY(-5px);
}

#brand1 {
  background-image: url("../images/brands/trivago.png");
}

#brand2 {
  background-image: url("../images/brands/airbnb.png");
}

#brand3 {
  background-image: url("../images/brands/agoda.png");
}

#brand4 {
  background-image: url("../images/brands/booking.webp");
}

#brand5 {
  background-image: url("../images/brands/expedia.png");
  background-size: cover;
}


