/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 3%;
}

.logo h2 {
  font-size: 2.5rem;
}

.navlinks ul {
  display: flex;
  align-items: center;
  gap: 2.688rem;
  list-style: none;
  z-index: 1;
}

.navlinks {
  display: flex;
  gap: 30px;
}

.navlinks ul a {
  text-decoration: none;
  color: var(--font-primary);
  font-size: 1.063rem;
  font-weight: 600;
}

.nav-btn {
  border: 2px solid white;
  padding: 10px 25px;
  border-radius: 8px;
  transition: 0.3s;
  background-color: rgba(0, 0, 0, 0.1);
}

.nav-btn:hover {
  background-color: var(--font-primary);
  color: black;
}
.menu-btn {
  background-color: transparent;
  border: none;
  color: var(--font-primary);
  font-size: 1.7rem;
  display: none;
  cursor: pointer;
}

/*   sidebar */

.sidebar {
  height: 100vh;
  width: 50vw;
  background-color: rgba(0, 0, 0, 0.6);
  /* background-color: white; */
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;

}



.sidebar ul {
  display: flex;
  flex-direction: column;
  row-gap:20px ;
  padding: 20px;
  list-style: none;
  margin-top: 20px;

}

.sidebar ul li{
  padding: 2px;
}




.sidebar a {
  text-decoration: none;
  color: white;
}